  @page { 
    margin: 5px; 
  }

  body { 
    margin: 5px; 
  }

  td {
    width: 49.75;
  }

  table {
    width: 597;
    border: 1px solid;
    table-layout: fixed;
    padding: 5;
    font-size: 10pt;
    font-family: sans-serif;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  .text-left {
    text-align: left;
  }

  .text-bold {
    font-weight: bold;
  }

  .offset-5 {
    height: 5;
  }

  .top-align {
    vertical-align: top;
  }